@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force Arabic Layout */
body {
  direction: rtl; 
  font-family: 'Cairo', sans-serif;
  background-color: #f7fafc; /* Light gray bg */
}